head,
root,
div,
html {
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
}
nav li,
.logoimg,
.logo {
  text-decoration: none;
  list-style: none;
  display: inline;
  color: white;
  padding: 0px 24px;
  /* background-color: gray; */
  /* border: 2px solid red; */
  margin: 0px 17px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav ul {
  display: inline;
  /* background-color: grey */
  /* padding: 27px; */
  /* opacity: 0.5; */
  /* color: white; */
}
nav {
  background-color: grey;
  padding: 11px;
  width: 100%;
  display: inline-block;
}
.container {

  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  width: auto;
  font-family: sans-serif;
  padding: 54px 23px;
  margin: 0px auto;
}
.box1 {
  font-size: 50px;
  font-weight: bold;
}
.box2 {
  margin-top: 23px;
  width: 640px;
  text-align: center;
}
.btn1 {
  padding: 9px;
  margin: 26px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  /* border: 2px solid red; */
  width: 100px;
  background-color: black;
}
.btn1:hover {
  background-color: rgb(196, 153, 166);
}
.container2 {
  align-items: center;
  display: flex;
  background-color: #d2c7b6;
  flex-direction: column;
  /* border: 2px solid red; */
  width: auto;
  height: 600px;
  margin: 0px auto;
}
.box1-services,
.contact {
  font-size: 40px;
  font-weight: bold;
}
.container_2 {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  padding: 23px 23px;
  margin: 23px auto;
  flex-direction: row;
}
.box1-1 {
  padding: 48px 66px;
}
#b1,
#b2,
#b3 {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 299px;
  background-color: rgb(168 161 175);
  border: 2px solid white;
}
.img_1,
.logo {
  border-radius: 50%;
}
.logo {
  display: inline-block;
  margin: -13px -69px;
  padding: -74px 113px;
  width: 38px;
}
.container3,
.c {
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact {
  margin-bottom: 22px;
}
.cimage {
  z-index: -1;
  width: 100%;
}
.container3{
background-image: url("https://source.unsplash.com/1600x900/?food");
z-index: -1;
opacity: 0.9;

}
.container{
    background-image: url("https://source.unsplash.com/user/erondu/1600x900");
    opacity: 0.8;
}
p{
width: 328px;

}
