h1 {
    color: purple;
    font-family: sans-serif;
    font: bold;
    clear: both;
}

form {
    color: red;
    clear: both;
}

button {
    color: royalblue;
}

body {
    color: teal;
}

.navigation {
    background-color: saddlebrown;
    color: rgb(243, 201, 16);
}

.navigation li {
    float: left;
    padding: 23px;
    text-decoration: none;
    font-size: large;
    list-style: none;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    position: sticky;
    background-color: rgb(243, 201, 16);
    color: black;
    width: 344px;
}